
@{
    Layout = null;
}

<!--
    Author: W3layouts
    Author URL: http://w3layouts.com
    License: Creative Commons Attribution 3.0 Unported
    License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Riders Login</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Trendy Mobile Screens Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
    <script type="application/x-javascript">
         addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Meta tag Keywords -->
    <!-- css files -->
    <link href="~/Riders/css/style.css" rel="stylesheet" type="text/css" media="all">
    <link rel="stylesheet" href="~/Riders/css/font-awesome.css"> <!-- Font-Awesome-Icons-CSS -->
    <!-- //css files -->
    <!-- online-fonts -->
    <link href="//fonts.googleapis.com/css?family=Ropa+Sans:400,400i&amp;subset=latin-ext" rel="stylesheet">
    <!--//online-fonts -->
</head>
<body>
    <div class="header">
        <h1>Food Pasada Rider's</h1>
    </div>
    <div class="w3-main">
        <!-- Main -->
        <div class="about-bottom main-agile book-form">
            <div class="header-top">
                <ul>
                    <li><span></span></li>
                    <li><span class="chrg"></span> </li>
                    <li>@ViewBag.time </li>
                </ul>
            </div>
            <div class="form-w3l">
                <img src="~/Riders/images/food_riders.jpg" alt="image">
                <h2 class="tittle">Login</h2>
                <form action="#" method="post">
                    <div class="form-date-w3-agileits">
                        <i class="fa fa-envelope-o w3l" aria-hidden="true"></i>
                        <input type="text" name="username" placeholder="Username" required="">
                        <i class="fa fa-unlock-alt w3l2" aria-hidden="true"></i>
                        <input type="password" name="password" placeholder="Your Password" required="">
                    </div>
                    <a href="#">Forgot Password?</a>
                    <div class="make wow shake">
                        <input type="submit" value="Login">
                    </div>
                </form>
            </div>
        </div>

   
    </div>
    <!-- //Main -->
    <!-- footer -->
   
    <!-- //footer -->
</body>
</html>