
@{
    Layout = null;
}

<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>GnB Login</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Personal Login Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
    <script type="application/x-javascript">
         addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Meta tag Keywords -->
    <!-- css files -->
    <link rel="stylesheet" href="~/GnB_Login/css/style.css" type="text/css" media="all" /> <!-- Style-CSS -->
    <link rel="stylesheet" href="~/GnB_Login/css/font-awesome.css"> <!-- Font-Awesome-Icons-CSS -->
    <!-- //css files -->
    <!-- online-fonts -->
    <link href="//fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i&amp;subset=latin-ext" rel="stylesheet">
    <!-- //online-fonts -->
</head>
<body>
    <!--header-->
    <div class="header-w3l">
        <h1>GnB Login Form</h1>
    </div>
    <!--//header-->
    <!--main-->
    <div class="main-content-agile">
        <div class="sub-main-w3">
            <div class="wthree-pro">
                <img src="~/ResImages/gnb login.jpg" alt="image">
                <h2>Login Now</h2>
            </div>
            <form action="#" method="post">
                <input placeholder="Username" name="username" class="user" type="text" required="">
                <span class="icon1"><i class="fa fa-user" aria-hidden="true"></i></span><br><br>
                <input placeholder="Password" name="password" class="pass" type="password" required="">
                <span class="icon2"><i class="fa fa-unlock" aria-hidden="true"></i></span><br>
                <div class="sub-w3l">
                   
                    <div class="right-w3l">
                        <input type="submit" value="Login">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--//main-->
    <!--footer-->
    <div class="footer">
        <p>&copy; Food Pasada 2021</p>
    </div>
    <!--//footer-->

</body>
</html>
